#cart {
    height: 480px;
}

/*Tal vez hay que quitar este height*/

.title {
    font-family: 'Audiowide', cursive;
}

.rojo {
    border: 1px solid red;
}

#select {
    background-color: #01010165 !important;
}

button {
    width: 100px;
}