<div class="grid-cols-1 bg-main main min-h-[80vh]">
  <div class="grid-cols-1 flex justify-center">
    <div class="flex justify-center">
      <div class="flex flex-col my-[55px] md:flex-row md:max-w-[1500px] rounded-lg shadow-lg bg-card gameContainer">
        <div class="min-w-[550px] min-h-[750px] mr-10">
          <img src="{{game.URL}}" class="rounded-lg w-[550px] h-[750px]" alt="Imagen no disponible">
        </div>
        <div class="p-6 flex flex-col justify-start">
          <div>
            <h5 class="text-button-hover text-4xl font-medium mb-4 p-2">{{game.name}}</h5>
          </div>
          <hr>
          <!-- <div class="flex justify-center mt-5"> -->
          <!-- <video src="{{game.trailerURL}}"></video> -->
          <!-- <iframe width="560" height="315" src="{{game.trailerURL}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
          <!-- </div> -->
          <div>
            <p class="text-gray-300 mt-3 p-2 text-base mb-4 leading-loose">{{game.description}}</p>
          </div>
          <hr>
          <div class="flex justify-evenly mt-4">
            <div class="mt-5 md:flex-row md:max-w-[200px] rounded-lg shadow-lg p-5 card">
              <p class="text-button-hover"><b>DESARROLADOR</b></p>
              <p class="text-white">{{game.developer}}</p>
            </div>
            <div class="mt-5 md:flex-row md:max-w-[200px] rounded-lg shadow-lg p-5 card">
              <p class="text-button-hover"><b>DISTRIBUIDOR</b></p>
              <p class="text-white">{{game.publisher}}</p>
            </div>
            <div class="mt-5 md:flex-row md:max-w-[200px] rounded-lg shadow-lg p-5 card">
              <p class="text-button-hover"><b>FECHA DE LANZAMIENTO</b></p>
              <p class="text-white">{{game.releaseDate | date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="mt-5 md:flex-row md:max-w-[200px] rounded-lg shadow-lg p-5 card">
              <p class="text-button-hover"><b>GÉNERO</b></p>
              <p class="text-white">{{game.gender}}</p>
            </div>
          </div>
          <hr class="mt-9">
          <div class="mt-5 flex justify-between px-20 items-center">
            <div>
              <p class="text-button-hover text-5xl"><b>{{game.price}}€</b></p>
            </div>
            <div class="flex">
              <div class="mr-5">
                <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-help p-button-outlined mr-7"></button>
              </div>
              <div>
                <button pButton pRipple type="button" label="Añadir al carrito" class="p-button-outlined p-button-help"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>