<div class="grid-cols-1 flex justify-center  bg-shared">
  <app-input (onSearch)="searchGamesByName($event)"></app-input>
</div>

<div class="grid-cols-1 flex justify-center bg-main min-h-[80vh]" id="main" *ngIf="getVideoGames.length > 0; else noGames">
  <div class="container">
    <div class="flex justify-around flex-wrap">
      <div class="rounded-lg shadow-lg max-w-[280px] mt-[40px] mb-10 bg-card" *ngFor="let game of getVideoGames">
        <a  [routerLink]="['./', game.id]">
          <img class="rounded-t-lg" src="{{game.URL}}" alt="Imagen no disponible" width="280px" />
        </a>
        <div class="p-4">
          <h5 class="text-white text-xl font-medium mb-2">{{game.name}}</h5>
          <p class="text-gray-400 mb-4 text-xl font-medium">{{game.price}}€</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noGames>
  <div class="grid-cols-1 flex justify-center bg-main min-h-[80vh]" id="main">
    <div class="rounded-lg shadow-lg bg-card max-w-[700px] mt-[40px] h-[100px]">
      <p class="text-3xl p-5 text-white text-center">No se ha encontrado ningún juego</p>
    </div>
  </div>
</ng-template>