<div class="grid-cols-1 flex justify-center items-center bg-main main min-h-[71.5vh]">
    <div class="flex justify-center">
        <div class="p-[40px] my-7 rounded-lg shadow-lg min-w-4xl bg-forms">
            <h1 class="text-white text-4xl leading-tight font-medium mb-2">Registro</h1>
            <hr>
            <form [formGroup]="registerForm" (ngSubmit)="register()" class="flex flex-col items-center px-5" novalidate>
                <div class="mt-10 grid-cols-1 w-[100%]">
                    <div *ngIf="!userName?.valid && (userName?.dirty ||userName?.touched); else userNameGood">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" name="userName" formControlName="userName"
                                class="rounded-lg p-3 border border-red-500" pInputText pAutoFocus [autofocus]="true">
                            <label for="inputtext">Nombre de usuario</label>
                        </span>
                        <div [hidden]="!userName?.errors?.['required']" class="flex justify-center text-red-400">
                            Debes introducir un nombre de usuario
                        </div>
                    </div>
                    <ng-template #userNameGood>
                        <span class="p-float-label">
                            <input type="text" id="inputtext" name="userName" formControlName="userName"
                                class="rounded-lg p-3" pInputText pAutoFocus [autofocus]="true">
                            <label for="inputtext">Nombre de usuario</label>
                        </span>
                    </ng-template>
                </div>

                <div class="mt-10 grid-cols-1 w-[100%]">
                    <div *ngIf="!email?.valid && (email?.dirty || email?.touched); else emailGood">
                        <span class="p-float-label">
                            <input type="email" id="inputtext" name="email" formControlName="email"
                                class="rounded-lg p-3 border border-red-500" pInputText>
                            <label for="inputtext">Email</label>
                        </span>
                        <!-- <div [hidden]="!email?.errors?.['required']" class="flex justify-center text-red-400">
                            Debes introducir un email
                        </div> -->
                        <div [hidden]="!email?.errors?.['email']" class="flex justify-center text-red-400">
                            Debes introducir un email válido
                        </div>
                    </div>
                    <ng-template #emailGood>
                        <span class="p-float-label">
                            <input type="text" id="inputtext" name="email" formControlName="email"
                                class="rounded-lg p-3" pInputText>
                            <label for="inputtext">Email</label>
                        </span>
                    </ng-template>

                </div>
                <div class="mt-10 grid-cols-1 w-[100%]">
                    <div *ngIf="!password?.valid && (password?.dirty || password?.touched); else passwordGood">
                        <span class="p-float-label">
                            <input type="password" id="inputtext" name="password" formControlName="password"
                                class="rounded-lg p-3 border border-red-500" pInputText>
                            <label for="inputtext">Contraseña</label>
                        </span>
                        <div [hidden]="!password?.errors?.['required']" class="flex justify-center text-red-400">
                            Debes introducir una contraseña
                        </div>
                    </div>
                    <ng-template #passwordGood>
                        <span class="p-float-label">
                            <input type="password" id="inputtext" name="password" formControlName="password"
                                class="rounded-lg p-3" pInputText>
                            <label for="inputtext">Contraseña</label>
                        </span>
                    </ng-template>
                </div>
                <div class="mt-10 grid-cols-1 w-[100%]">
                    <div *ngIf="!password2?.valid && (password2?.dirty || password2?.touched); else password2Good">
                        <span class="p-float-label">
                            <input type="password" id="inputtext" name="password2" formControlName="password2"
                                class="rounded-lg p-3 border border-red-500" pInputText>
                            <label for="inputtext">Repite la contraseña</label>
                        </span>
                        <div [hidden]="!password2?.errors?.['required']" class="flex justify-center text-red-400">
                            Debes introducir una contraseña
                        </div>
                    </div>
                    <ng-template #password2Good>
                        <span class="p-float-label">
                            <input type="password" id="inputtext" name="password2" formControlName="password2" class="rounded-lg p-3" pInputText>
                            <label for="inputtext">Repite la contraseña</label>
                        </span>
                    </ng-template>
                </div>

                <div class="mt-10 mb-10 grid-cols-1 w-[100%]">
                    <div *ngIf="!phoneNumber?.valid && (phoneNumber?.dirty || phoneNumber?.touched); else phoneNumberGood">
                        <span class="p-float-label">
                            <input type="text" id="inputtext" name="phoneNumber" formControlName="phoneNumber" class="rounded-lg p-3 border border-red-500" pInputText>
                            <label for="inputtext">Teléfono</label>
                        </span>
                        <div [hidden]="!phoneNumber?.errors?.['required']" class="flex justify-center text-red-400">
                            Debes introducir un número de teléfono
                        </div>
                        <div [hidden]="!phoneNumber?.errors?.['min']" class="flex justify-center text-red-400">
                            Debes introducir un número de teléfono válido
                        </div>
                    </div>
                    <ng-template #phoneNumberGood>
                        <span class="p-float-label">
                            <input type="text" id="inputtext" name="phoneNumber" formControlName="phoneNumber" class="rounded-lg p-3" pInputText>
                            <label for="inputtext">Teléfono</label>
                        </span>
                    </ng-template>
                    
                </div>

                <div class="flex justify-center">
                    <button pButton pRipple type="submit" label="Registrarme"
                        class="p-button-outlined p-button-help"></button>
                </div>
            </form>
        </div>
    </div>
</div>