<div class="grid-cols-1 flex justify-center items-center bg-main main min-h-[71.5vh]">
    <div class="flex justify-center">
        <div class="p-[40px] my-7 rounded-lg shadow-lg min-w-4xl bg-forms">
            <h1 class="text-white text-4xl leading-tight font-medium mb-2">Registro</h1>
            <hr>
            <form (ngSubmit)="register()" class="flex flex-col items-center px-5">
                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" name="userName" class="rounded-lg p-3" pInputText pAutoFocus [autofocus]="true" [(ngModel)]="userName">
                        <label for="inputtext">Nombre de usuario</label>
                    </span>
                </div>
                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" name="email" class="rounded-lg p-3" pInputText [(ngModel)]="email">
                        <label for="inputtext">Email</label>
                    </span>
                </div>
                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label">
                        <input type="password" id="inputtext" name="password" class="rounded-lg p-3" pInputText [(ngModel)]="password">
                        <label for="inputtext">Contraseña</label>
                    </span>
                </div>
                <div class="mt-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label">
                        <input type="password" id="inputtext" name="password2" class="rounded-lg p-3" pInputText [(ngModel)]="password2">
                        <label for="inputtext">Repite la contraseña</label>
                    </span>
                </div>

                <div class="mt-10 mb-10 grid-cols-1 w-[100%]">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" name="phoneNumber" class="rounded-lg p-3" pInputText [(ngModel)]="phoneNumber">
                        <label for="inputtext">Teléfono</label>
                    </span>
                </div>
                
                <div class="flex justify-center">
                    <button pButton pRipple type="submit" label="Registrarme"
                        class="p-button-outlined p-button-help"></button>
                </div>
            </form>

        </div>
    </div>
</div>